/**!
 * Andromeda Documentation
 * Copyright 2017-2018 Dreamist Labs
 * Created by Johnny Hu <johnny@dreamistlabs.com>
 */
/**
 * VARIABLES
 */
/* Media Query Breakpoints */
/* Referential Variables
 * These variables typically refer to a specific component's property and
 * its value should point to a variable declared under the Theme-Specific Variables
 * section above. Ideally, referential variables should not have hard-coded values.
 * IMPORTANT: Do not change the names of these referential variables because they are
 * used throughout the Andromeda framework. Doing so will likely break things.
 */
/**
 * -- MIXINS
 */
/**
 * -- STYLES
 */
body {
  background-color: #FAFAFA;
  color: #2e2e2e; }

p {
  letter-spacing: 0.4px; }

a,
a:active,
a:focus,
a:hover,
a:visited {
  color: #2e2e2e;
  text-decoration: none; }

.docs.panel {
  padding: 1rem;
  width: 100%;
  overflow-x: scroll;
  border: 1px solid #CBCACA;
  border-radius: 5px; }

.docs.example__code {
  position: relative; }

.docs.example__button {
  position: absolute;
  top: 0;
  right: -1px;
  padding: 6px 8px;
  background-color: #FAFAFA;
  border: 1px solid #CBCACA;
  border-bottom-left-radius: 5px;
  font-size: 0.75em; }
  .docs.example__button:hover {
    animation: fadeInColor 0.25s;
    background-color: #C0B283;
    color: white;
    cursor: pointer; }

@keyframes fadeInColor {
  0% {
    background-color: inherit;
    color: inherit; }
  100% {
    background-color: #C0B283;
    color: #FAFAFA; } }

.docs.example__code-block {
  margin-bottom: 0;
  padding: 1rem;
  background-color: #DCD0C0;
  color: docs-gray-color-dark; }

.app {
  position: relative; }
  .app.scrolled footer p {
    opacity: 1; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10; }
  header h1 {
    display: block;
    margin: 1rem auto;
    font-size: 1.8rem;
    text-align: center;
    line-height: 1;
    transition: all 0.5s ease-in; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10; }
  footer p {
    margin: 1.2rem;
    font-size: 1.2rem;
    text-align: center;
    opacity: 0;
    transition: all 1s ease-in; }

.sidebar {
  position: fixed;
  top: 0;
  left: -24rem;
  padding: 4rem 0;
  height: 100%;
  background-color: #2e2e2e;
  transition: all .3s ease-in;
  z-index: 10; }
  .sidebar.visible {
    left: 0; }

.sidebar__nav {
  height: inherit;
  font-size: 1.6rem;
  color: #FAFAFA; }
  .sidebar__nav .nav__list {
    padding-left: 0;
    height: inherit;
    width: 24rem;
    list-style: none; }
  .sidebar__nav .nav__item {
    padding: 0.6rem 2rem; }
  .sidebar__nav .nav__link {
    position: relative;
    display: block;
    color: inherit;
    line-height: 1;
    transition: all 0.3s ease-in; }
    .sidebar__nav .nav__link:before {
      content: "";
      position: absolute;
      left: -0.4rem;
      height: 100%;
      width: 0.3rem;
      background-color: #569780;
      transition: inherit;
      opacity: 0; }
    .sidebar__nav .nav__link:hover, .sidebar__nav .nav__link.active {
      padding-left: 1rem; }
      .sidebar__nav .nav__link:hover:before, .sidebar__nav .nav__link.active:before {
        left: 0;
        opacity: 1; }
    .sidebar__nav .nav__link.active {
      font-weight: 600; }

.nav__toggle {
  position: fixed;
  top: 2rem;
  left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), -1px -1px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out; }
  .nav__toggle:hover {
    background-color: #569780;
    cursor: pointer; }
    .nav__toggle:hover span {
      background-color: #FAFAFA; }
  .nav__toggle span {
    display: inline-block;
    width: 2.5rem;
    min-height: 0.3rem;
    background-color: #000000;
    transition: all 0.3s ease-in-out; }
    .nav__toggle span:nth-of-type(2) {
      margin: 0.6rem 0; }

.main-content {
  position: relative;
  margin: 12rem 10rem; }
  .main-content:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 4rem solid rgba(255, 255, 255, 0.98);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3); }

.docs.section {
  margin-bottom: 1rem;
  width: 100%; }
  .docs.section .section__flex__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; }
  .docs.section .section__flex__child {
    width: 33%; }

.playground {
  margin: 0 auto;
  padding: 1em;
  max-width: 80%; }

.docs.dashboard__example {
  margin-bottom: 2rem; }

.docs.sidebar {
  min-width: 200px;
  border-right: 1px solid #eee; }
