/**
 * Andromeda Documentation
 * Copyright 2017 Dreamist Labs
 */
/**
 * VARIABLES
 */
/**
 * -- MIXINS
 */
/**
 * -- STYLES
 */
body {
  background-color: #FCFCFC;
  color: #313131; }

.docs.panel {
  padding: 1rem;
  width: 100%;
  overflow-x: scroll;
  border: 1px solid #CBCACA;
  border-radius: 5px; }

.docs.example__code {
  position: relative; }

.docs.example__button {
  position: absolute;
  top: 0;
  right: -1px;
  padding: 6px 8px;
  background-color: #FCFCFC;
  border: 1px solid #CBCACA;
  border-bottom-left-radius: 5px;
  font-size: 0.75em; }
  .docs.example__button:hover {
    animation: fadeInColor 0.25s;
    background-color: #C0B283;
    color: white;
    cursor: pointer; }

@keyframes fadeInColor {
  0% {
    background-color: inherit;
    color: inherit; }
  100% {
    background-color: #C0B283;
    color: #FCFCFC; } }

.docs.example__code-block {
  margin-bottom: 0;
  padding: 1rem;
  background-color: #DCD0C0;
  color: docs-gray-color-dark; }

.docs.section {
  margin-bottom: 1.5rem;
  width: 100%; }
  .docs.section .section__flex__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; }
  .docs.section .section__flex__child {
    width: 33%; }

.playground {
  margin: 0 auto;
  padding: 1em;
  max-width: 80%; }

.docs.dashboard__example {
  margin-bottom: 2rem; }

.docs.main-content {
  display: flex; }

.docs.sidebar {
  min-width: 200px;
  border-right: 1px solid #eee; }
