/**!
 * Andromeda Documentation
 * Copyright 2017-2018 Dreamist Labs
 * Created by Johnny Hu <johnny@dreamistlabs.com>
 */
/**
 * VARIABLES
 */
/* Media Query Breakpoints */
/* Referential Variables
 * These variables typically refer to a specific component's property and
 * its value should point to a variable declared under the Theme-Specific Variables
 * section above. Ideally, referential variables should not have hard-coded values.
 * IMPORTANT: Do not change the names of these referential variables because they are
 * used throughout the Andromeda framework. Doing so will likely break things.
 */
/**
 * -- MIXINS
 */
/**
 * -- STYLES
 */
body {
  background-color: #FCFCFC;
  color: #313131; }

.docs.panel {
  padding: 1rem;
  width: 100%;
  overflow-x: scroll;
  border: 1px solid #CBCACA;
  border-radius: 5px; }

.docs.example__code {
  position: relative; }

.docs.example__button {
  position: absolute;
  top: 0;
  right: -1px;
  padding: 6px 8px;
  background-color: #FCFCFC;
  border: 1px solid #CBCACA;
  border-bottom-left-radius: 5px;
  font-size: 0.75em; }
  .docs.example__button:hover {
    animation: fadeInColor 0.25s;
    background-color: #C0B283;
    color: white;
    cursor: pointer; }

@keyframes fadeInColor {
  0% {
    background-color: inherit;
    color: inherit; }
  100% {
    background-color: #C0B283;
    color: #FCFCFC; } }

.docs.example__code-block {
  margin-bottom: 0;
  padding: 1rem;
  background-color: #DCD0C0;
  color: docs-gray-color-dark; }

.app {
  position: relative; }
  .app.scrolled .header h1 {
    font-size: 2rem; }

header {
  position: fixed;
  width: 100%;
  z-index: 10; }
  header h1 {
    display: block;
    margin: 1.8rem auto;
    font-size: 2.4rem;
    text-align: center;
    line-height: 1; }

.main-content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 6rem; }
  .main-content:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 60px solid #ffffff; }

.docs.section {
  margin-bottom: 1.5rem;
  width: 100%; }
  .docs.section .section__flex__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; }
  .docs.section .section__flex__child {
    width: 33%; }

.playground {
  margin: 0 auto;
  padding: 1em;
  max-width: 80%; }

.docs.dashboard__example {
  margin-bottom: 2rem; }

.docs.sidebar {
  min-width: 200px;
  border-right: 1px solid #eee; }
