/**!
 * Baseline builds on top of Normalize.css and is inspired by Twitter Bootstrap's Reboot CSS.
 */
$karla-font-family:       'Karla', sans-serif;
$open-sans-font-family:   'Open Sans', Arial, sans-serif;
$monospace-font-family:   monospace;

$light-weight:          300;
$normal-weight:         400;
$bold-weight:           600;

$base-font-family:      $open-sans-font-family;
$base-font-size:        1rem;
$base-font-weight:      $normal-weight;
$base-line-height:      1.2;

$heading-font-family:   $karla-font-family;
$heading-font-weight:   $light-weight;

// these should be removed
$small-font-size:       0.75rem;
$big-font-size:         1.375rem;

$mobile-font-size:      16px;
$tablet-font-size:      18px;
$desktop-font-size:     20px;
$big-desktop-font-size: 22px;

$default-padding-sm:      0.75rem;
$default-padding:         15px;
$default-padding-lg:      1.5rem;

$default-margin-sm:     0.75rem;
$default-margin:        15px;
$default-margin-lg:     1.5rem;

$default-font-size:      16px;

$light-weight:          300;
$normal-weight:         400;
$bold-weight:           600;

$gray-color-lighter:    #AFAFAF;
$gray-color:            #969696;
$gray-color-darker:     #7d7d7d;

/* Media Query Breakpoints */
$mobile-breakpoint:          600px;
$tablet-breakpoint:          900px;
$desktop-breakpoint:         1200px;
$hd-desktop-breakpoint:      1800px;

* {
  box-sizing: border-box;
}
html {
  font-size: $default-font-size;
}
body {
  font-family: $base-font-family;
  font-size:   $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}
/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  margin-top:       0;
  margin-bottom:    $default-margin;
  font-family:      $heading-font-family;
  font-weight:      $heading-font-weight;
}
h1 {
  font-size: 2.875rem;
}
h2 {
  font-size: 2.25rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.375rem;
}
h5 {
  font-size: 1.125rem;
}
h6 {
  font-size: 1rem;
}

/**
 * Paragraphs
 */

p {
  margin-top: 0;
  margin-bottom: $default-margin-lg;
}

/**
 * Lists
 */

ul, ol {
  margin-top: 0;
  margin-bottom: $default-margin-lg;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

/**
 * Definitions
 */
dl {
  margin-bottom: $default-margin-lg;
}

dt {
  font-weight: $bold-weight;
}

dd {
  margin-left: $default-margin;
  margin-bottom: $default-margin-sm;
}

/**
 * Forms
 */
form {
  margin-bottom: $default-margin;
}

input {
  display: inline-block;
}

legend {
  font-size: $big-font-size;
  font-weight: $bold-weight;
}

fieldset {
  margin: 0;
  border: none;
}

pre {
  margin-top: 0;
  margin-bottom: $default-margin;
  font-family: $monospace-font-family;
}

code {
  font-family: $monospace-font-family;
}

table {
  border-spacing: 0;
}

th, td {
  padding: 0.25rem;
  text-align: left;
}

caption {
  padding: $default-padding-sm 0.25rem;
  color: $gray-color-darker;
  text-align: left;
  caption-side: bottom;
}

blockquote {
  margin: 0 $default-margin $default-margin;
  padding: 0.375rem;
  padding-left: $default-margin;
  border-left: 0.375rem solid $gray-color-lighter;
}

// removes margin from last element in blockquote
blockquote > *:last-child {
  margin-bottom: 0;
}

/**
 * Misc
 */
abbr {
  cursor: help;
}

address {
  margin-bottom: $default-margin;
  font-style: normal;
}

hr {
  margin: $default-margin-sm 0;
  border: 1px solid $gray-color-lighter;
}