/**!
 * Baseline builds on top of Normalize.css and is inspired by Twitter Bootstrap's Reboot CSS.
 */

 @import './functions';

// 1.1 TYPOGRAPHY
$karla-font-family:             'Karla', sans-serif;
$open-sans-font-family:         'Open Sans', Arial, sans-serif;
$monospace-font-family:         'Courier New', monospace;


$default-font-family:           'Arial', 'Helvetica', 'Verdana', sans-serif;
$default-heading-font-family:   'Georgia', 'Times New Roman', serif;
$default-monospace-font-family: 'Courier New', monospace;

$augmented-fourth-ratio:        1.414;
$default-html-font-size:        10px;

$default-mobile-font-size:      1.6rem;
$default-tablet-font-size:      1.6rem;
$default-desktop-font-size:     2rem; 
$default-hd-desktop-font-size:  2.2rem;

$default-light-weight:          300;
$default-normal-weight:         400;
$default-bold-weight:           600;

$default-line-height:           $augmented-fourth-ratio;
$default-heading-line-height:   1.25em;
$default-letter-spacing:        0.04em;

$default-padding:               15px;
$default-margin:                15px;
$default-padding-lg:            $default-padding * 1.6;
$default-margin-lg:             $default-margin * 1.6;



$base-mobile-font-size:         $default-mobile-font-size;
$base-tablet-font-size:         $default-tablet-font-size;
$base-desktop-font-size:        $default-desktop-font-size;
$base-hd-desktop-font-size:     $default-hd-desktop-font-size;

$base-light-weight:             $default-light-weight;
$base-normal-weight:            $default-normal-weight;
$base-bold-weight:              $default-bold-weight;

$base-font-family:              $default-font-family;
$base-font-size:                $default-mobile-font-size;
$base-font-weight:              $default-normal-weight;
$base-line-height:              $default-line-height;
$base-letter-spacing:           $default-letter-spacing;

$base-heading-font-family:      $default-heading-font-family;
$base-heading-font-weight:      $default-bold-weight;
$base-heading-line-height:      $default-heading-line-height;

$base-monospace-font-family:    $default-monospace-font-family;

$base-margin:                   $default-margin;

$gray-color-lighter:    #AFAFAF;
$gray-color:            #969696;
$gray-color-darker:     #7d7d7d;

/* Media Query Breakpoints */
$mobile-breakpoint:          600px;
$tablet-breakpoint:          900px;
$desktop-breakpoint:         1200px;
$hd-desktop-breakpoint:      1800px;

* {
  box-sizing:     border-box;
}
html {
  font-size:      $default-html-font-size;
}
body {
  font-family:    $base-font-family;
  font-size:      $base-font-size;
  font-weight:    $base-font-weight;
  line-height:    $base-line-height;
  letter-spacing: $base-letter-spacing;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  margin-top:       0;
  margin-bottom:    $base-margin;
  font-family:      $base-heading-font-family;
  font-weight:      $base-heading-font-weight;
  line-height:      $base-heading-line-height;
}

h1 {
  font-size: 1em * pow($augmented-fourth-ratio, 3);
}
h2 {
  font-size: 1em * pow($augmented-fourth-ratio, 2);
}
h3 {
  font-size: 1em * pow($augmented-fourth-ratio, 1);
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 1em * pow($augmented-fourth-ratio, -1);
}
h6 {
  font-size: 1em * pow($augmented-fourth-ratio, -2);
}

@media (min-width: $desktop-breakpoint) {
  body {
    font-size: $base-desktop-font-size;
  }
}

/**
 * Paragraphs
 */

p {
  margin-top: 0;
  margin-bottom: $default-margin-lg;

  + p {
    margin-bottom: $base-margin;
  }
}

/**
 * Lists
 */

ul, ol {
  margin-top: 0;
  margin-bottom: $default-margin-lg;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

/**
 * Definitions
 */
dl {
  margin-bottom: $default-margin-lg;
}

dt {
  font-weight: $base-bold-weight;
}

dd {
  margin-left: $base-margin;
  margin-bottom: $base-margin * 0.8;
}

/**
 * Forms
 */
form {
  margin-bottom: $base-margin;
}

input {
  display: inline-block;
}

legend {
  font-size:    $base-font-size * 1.25;
  font-weight:  $base-bold-weight;
}

fieldset {
  margin: 0;
  border: none;
}

pre {
  margin-top: 0;
  margin-bottom: $base-margin;
  font-family: $base-monospace-font-family;
}

code {
  font-family: $base-monospace-font-family;
}

table {
  border-spacing: 0;
}

th, td {
  padding: 0.25rem;
  text-align: left;
}

caption {
  padding: 0.25rem;
  color: $gray-color-darker;
  text-align: left;
  caption-side: bottom;
}

blockquote {
  margin: 0 $base-margin $base-margin;
  padding: 0.375rem;
  padding-left: $base-margin;
  border-left: 0.375rem solid $gray-color-lighter;
}

// removes margin from last element in blockquote
blockquote > *:last-child {
  margin-bottom: 0;
}

/**
 * Misc
 */
abbr {
  cursor: help;
}

address {
  margin-bottom: $base-margin;
  font-style: normal;
}

hr {
  margin: $base-margin 0;
  border: 1px solid $gray-color-lighter;
}