$default-font-family            : 'Arial', 'Helvetica', 'Verdana', sans-serif;
$default-heading-font-family    : 'Georgia', 'Times New Roman', serif;
$default-monospace-font-family  : 'Courier New', monospace;

$augmented-fourth-ratio         : 1.414;
$default-html-font-size         : 10px;

$default-mobile-font-size       : 1.6rem;
$default-tablet-font-size       : 1.6rem;
$default-desktop-font-size      : 2rem; 
$default-hd-desktop-font-size   : 2.2rem;

$default-light-weight           : 300;
$default-normal-weight          : 400;
$default-bold-weight            : 600;

$default-line-height            : $augmented-fourth-ratio;
$default-heading-line-height    : 1.25em;
$default-letter-spacing         : 0.04em;

$default-spacingS               : 1.5rem;
$default-spacingM               : 2.4rem;
$default-spacingL               : 4rem;

$base-mobile-font-size          : $default-mobile-font-size;
$base-tablet-font-size          : $default-tablet-font-size;
$base-desktop-font-size         : $default-desktop-font-size;
$base-hd-desktop-font-size      : $default-hd-desktop-font-size;

$base-light-weight              : $default-light-weight;
$base-normal-weight             : $default-normal-weight;
$base-bold-weight               : $default-bold-weight;

$base-font-family               : $default-font-family;
$base-font-size                 : $default-mobile-font-size;
$base-font-weight               : $default-normal-weight;
$base-line-height               : $default-line-height;
$base-letter-spacing            : $default-letter-spacing;

$base-heading-font-family       : $default-heading-font-family;
$base-heading-font-weight       : $default-bold-weight;
$base-heading-line-height       : $default-heading-line-height;

$base-monospace-font-family     : $default-monospace-font-family;

$base-marginS                   : $default-spacingS;
$base-marginM                   : $default-spacingM;
$base-marginL                   : $default-spacingL;
$base-paddingS                  : $default-spacingS;
$base-paddingM                  : $default-spacingM;
$base-paddingL                  : $default-spacingL;

$gray-color-lighter             :#AFAFAF;
$gray-color                     :#969696;
$gray-color-darker              :#7d7d7d;

/* Media Query Breakpoints */
$mobile-breakpoint              : 600px;
$tablet-breakpoint              : 900px;
$desktop-breakpoint             : 1200px;
$hd-desktop-breakpoint          : 1800px;

@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }
  @if $exponent < 0 {
    @for $i from 1 through -$exponent {
      $value: $value / $number;
    }
  }

  @return $value;
}