/**!
 * Baseline builds on top of Normalize.css and is inspired by Twitter Bootstrap's Reboot CSS.
 */
$default-margin:        15px;
$default-margin-lg:     $default-margin * 1.6;
$default-padding:       15px;
$default-padding-lg:    $default-padding * 1.6;

$mobile-font-size:      16px;
$tablet-font-size:      18px;
$desktop-font-size:     20px;
$big-desktop-font-size: 22px;
$default-font-size:     $mobile-font-size;

$normal-weight:         400;
$bold-weight:           700;

$base-font-family:      'Droid Sans', 'Helvetica', 'Arial', sans-serif;
$base-font-size:        1rem;
$base-font-weight:      $normal-weight;
$base-line-height:      1.4;
$base-letter-spacing: 	0.01rem;

$heading-font-family:   'Droid Serif', 'Georgia', 'Times', serif;
$heading-font-weight:   $bold-weight;

$monospace-font-family:   'Droid Sans Mono', 'Courier', monospace;

$gray-color-lighter:    #AFAFAF;
$gray-color:            #969696;

/* Media Query Breakpoints */
$mobile-breakpoint:          600px;
$tablet-breakpoint:          900px;
$desktop-breakpoint:         1200px;
$hd-desktop-breakpoint:      1800px;