/**********************************
  VARIABLES
 **********************************/

/* Theme-specific Variables 
 * Use this section to declare style properties that are specific to your theme.
 */
$karla-font-family:       'Karla', sans-serif;
$open-sans-font-family:   'Open Sans', Arial, sans-serif;
$monospace-font-family:   monospace;

$light-weight:          300;
$normal-weight:         400;
$bold-weight:           600;

$base-font-family:      $open-sans-font-family;
$base-font-size:        1.6rem;
$base-font-weight:      $normal-weight;
$base-line-height:      1.6;

$heading-font-family:   $karla-font-family;

$small-font-size:       0.75rem;
$big-font-size:         1.375rem;

$mobile-font-size:      10px;
$tablet-font-size:      10px;
$desktop-font-size:     10px;
$big-desktop-font-size: 10px;

// colors
$white:                 #FAFAFA;
$black:                 #000000;
$alabaster:             #FAFAFA;
$mine-shaft:            #515151;

$illuminating-emerald:  #32936F;
$lapis-lazuli:          #2274A5;
$fluorescent-orange:    #FFBF00;
$paradise-pink:         #E83F6F;
$violet-eggplant:       #930B92;

$gray-color-lighter:    #AFAFAF;
$gray-color:            #969696;
$gray-color-darker:     #7d7d7d;

// @import './andromeda/variables';
// Colors
$primary-color:         $violet-eggplant;
$success-color:         $illuminating-emerald;
$info-color:            $lapis-lazuli;
$warning-color:         $fluorescent-orange;
$danger-color:          $paradise-pink;

$text-color:            $mine-shaft;
$text-dark:             darken($text-color, 30%);
$text-light:            lighten($text-color, 50%);
$text-primary:          $primary-color;
$text-success:          $success-color;
$text-info:             $info-color;
$text-warning:          $warning-color;
$text-danger:           $danger-color;
$border-dark:           $mine-shaft;

// spacing
$default-margin:      1.5rem;
$default-padding:     1.5rem;
$spacing-unit:        1rem;

/* typography */
$default-link-color:                $text-color;
$default-link-hover-color:          $text-dark;

// navbar specific?
$default-link-underline-color:      $text-light;

$default-container-max-width:       1400px;
$default-container-fluid-max-width: 97%;

/* Media Queries */
$mobile:          600px;
$tablet:          900px;
$desktop:         1200px;
$hd-desktop:      1800px;

/* Referential Variables
 * The variables in this section are used throughout the Andromeda framework.
 * DO NOT CHANGE the variable names; doing so will likely break things.
 * Instead, just change the values that are assigned to these variables.
 */

$horizontal-spacing:  $spacing-unit;
$vertical-spacing:    $spacing-unit * 1.5;

/* container */
$container-padding:         $default-padding;
$container-max-width:       $default-container-max-width;
$container-fluid-max-width: $default-container-fluid-max-width;

@mixin for-mobile-only {
  @media screen and (max-width: $mobile) { @content; }
}
@mixin for-tablet-portrait-up {
  @media screen and (min-width: $mobile) { @content; }
}
@mixin for-tablet-portrait-only {
  @media screen and (min-width: $mobile) and (max-width: $tablet) { @content; }
}
@mixin for-up-to-tablet-landscape {
  @media screen and (max-width: $tablet) { @content; }
}
@mixin for-tablet-landscape-up {
  @media screen and (min-width: $tablet) { @content; }
}
@mixin for-tablet-landscape-only {
  @media screen and (min-width: $tablet) and (max-width: $desktop) { @content; }
}
@mixin for-up-to-desktop {
  @media screen and (max-width: $desktop) { @content; }
}
@mixin for-desktop-up {
  @media screen and (min-width: $desktop) { @content; }
}
@mixin for-desktop-only {
  @media screen and (min-width: $desktop) and (max-width: $hd-desktop) { @content; }
}
@mixin for-up-to-big-desktop {
  @media screen and (max-width: $hd-desktop) { @content; }
}
@mixin for-big-desktop-up {
  @media screen and (min-width: $hd-desktop) { @content; }
}

@import 'vendors/normalize';
@import 'base/baseline';

@mixin test-border($color){
  border: 1px solid $color;
}

/**********************************
  CONTAINERS (WIP)
 **********************************/
%container {
  margin: 0 auto;
  padding-left: $container-padding;
  padding-right: $container-padding;
}

.container, .container-fluid { @extend %container; }
.container {
  max-width: $container-max-width;
}
.container-fluid {
  max-width: $container-fluid-max-width;
}
.row {
  display: flex;
  flex-flow: row wrap;
  margin-left: -$container-padding;
  margin-right: -$container-padding;
  @include test-border($gray-color);
}

@import 'andromeda/grid';
@import 'andromeda/utilities';
@import 'andromeda/button';
@import 'andromeda/card';
@import 'andromeda/media';


$nav-link-color:            $default-link-color;
$nav-link-hover-color:      $default-link-hover-color;
$nav-link-underline-color:  $default-link-underline-color;

.navbar {
  position: relative;
  width: 100%;
  font-size: 1.6rem;
  @include test-border(green);
}
.nav__navlist {
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  .navlist__item {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  .navlist__link {
    position: relative;
    display: block;
    padding: 0.5em;
    text-decoration: none;
    color: $nav-link-color;
    &:before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0.5em;
      transform: translateX(-50%);
      width: 0%;
      border-bottom: 2px solid $nav-link-underline-color;
      transition: width 0.2s ease-out;
    }
    &:hover,
    &:focus {
      color: $nav-link-hover-color;
      &:before {
        width: 100%;
      }
    }
  }
}