/**********************************
  VARIABLES
 **********************************/

// typography
$karla-font-family:       'Karla', sans-serif;
$open-sans-font-family:   'Open Sans', Arial, sans-serif;
$monospace-font-family:   monospace;

$light-weight:          300;
$normal-weight:         400;
$bold-weight:           600;

$base-font-family:      $open-sans-font-family;
$base-font-size:        1rem;
$base-font-weight:      $normal-weight;
$base-line-height:      1.5;

$heading-font-family:   $karla-font-family;

$small-font-size:       0.75rem;
$big-font-size:         1.375rem;

$mobile-font-size:      10px;
$tablet-font-size:      10px;
$desktop-font-size:     10px;
$big-desktop-font-size: 10px;

// colors
$white:                 #FAFAFA;
$black:                 #000000;
$alabaster:             #FAFAFA;
$mine-shaft:            #313131;

$illuminating-emerald:  #32936F;
$lapis-lazuli:          #2274A5;
$fluorescent-orange:    #FFBF00;
$paradise-pink:         #E83F6F;
$violet-eggplant:       #930B92;

$text-color:            #313131;
$text-color-light:      $white;

$gray-color-lighter:    #AFAFAF;
$gray-color:            #969696;
$gray-color-darker:     #7d7d7d;


// spacing
$spacing-unit:        1rem;

$horizontal-spacing:  $spacing-unit;
$vertical-spacing:    $spacing-unit * 1.5;

$padding-sm:      0.75rem;
$padding-reg:     1rem;
$padding-lg:      1.5rem;

$margin-sm:       0.75rem;
$margin-reg:      1rem;
$margin-lg:       1.5rem;


/* Media Queries */
$mobile:          600px;
$tablet:          900px;
$desktop:         1200px;
$hd-desktop:      1800px;


@mixin for-mobile-only {
  @media screen and (max-width: $mobile - 1) { @content; }
}
@mixin for-tablet-portrait-up {
  @media screen and (min-width: $mobile) { @content; }
}
@mixin for-tablet-landscape-up {
  @media screen and (min-width: $tablet) { @content; }
}
@mixin for-desktop-up {
  @media screen and (min-width: $desktop) { @content; }
}
@mixin for-big-desktop-up {
  @media screen and (min-width: $hd-desktop) { @content; }
}

@import 'vendors/normalize';
@import 'base/baseline';

@mixin test-border($color){
  border: 1px solid $color;
}

/**********************************
  CONTAINERS (WIP)
 **********************************/
%container {
  margin: 0 auto;
  padding-left: $horizontal-spacing;
  padding-right: $horizontal-spacing;
}

.container {
  @extend %container;
  max-width: 1400px;
}

.container-fluid {
  @extend %container;
  max-width: 98%;
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin-left: -$horizontal-spacing;
  margin-right: -$horizontal-spacing;
  // @include test-border($gray-color);
}

@import 'andromeda/grid';
@import 'andromeda/utilities';
@import 'andromeda/button';
@import 'andromeda/card';
@import 'andromeda/media';

@include for-tablet-portrait-up {
  html {
    font-size: $tablet-font-size;
  }
}

@include for-desktop-up {
  html {
    font-size: $desktop-font-size;
  }
}
@include for-big-desktop-up {
  html {
    font-size: $big-desktop-font-size;
  }
}
