/**
 * Andromeda Documentation
 * Copyright 2017 Dreamist Labs
 */

/**
  VARIABLES
 */

$docs-text-size:             1rem;
$docs-text-size-small:       0.875rem;
$docs-text-size-smaller:     0.75rem;
$docs-base-line-height:      1.4rem;

$docs-pale-gold:             #C0B283;
$docs-silk:                  #DCD0C0;
$docs-paper:                 #F4F4F4;
$docs-charcoal:              #373737;

$docs-gray-color:            #9B9B9B;
$docs-gray-color-dark:       #6E6E6E;
$docs-gray-color-light:      #CBCACA;

$docs-background-color:      $docs-paper;
$docs-background-color-dark: $docs-charcoal;
$docs-text-color:            $docs-charcoal;
$docs-text-color-light:      $docs-paper;
$docs-brand-color:           $docs-pale-gold;

$docs-spacing-unit:          1.5rem;
$docs-spacing-unit-small:    1rem;
$docs-radius-size:           5px;

$docs-container-width-small: 97%;
$docs-container-width-large: 95%;

$docs-breakpoint-tablet:           600px;
$docs-breakpoint-laptop:           900px;
$docs-breakpoint-desktop:          1200px;
$docs-breakpoint-desktop-hd:       1800px;

$docs-sidebar-width:         250px;
$docs-banner-height:         175px;


/*********************************************
  MIXINS
 *********************************************/

@mixin media-query-at($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

/*********************************************
  STYLES
 *********************************************/


/**
  Global Styles
  -- incl. only styles that differ from Andromeda's baseline CSS
 */
body {
  background-color: $docs-background-color;
  color: $docs-text-color;
}

p {
  line-height: $docs-base-line-height;
}


@import 'docs/containers';
@import 'docs/examples';

.docs.section {
  margin-bottom: $docs-spacing-unit;
}
.docs.banner-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: $docs-spacing-unit;
  width: 100%;
  height: $docs-banner-height;
}
.docs.main-section {
  position: relative;
  top: $docs-banner-height;
  width: 100%;
  height: 100%;
}
.docs.sidebar {
  position: fixed;
  top: $docs-banner-height;
  left: 0;
  width: $docs-sidebar-width;
  min-width: $docs-sidebar-width;
  max-width: $docs-sidebar-width;
  height: calc(100vh - #{$docs-banner-height});
  border-right: 1px solid $docs-gray-color;
  overflow-y: scroll;
}
.docs.content-section {
  position: relative;
  left: $docs-sidebar-width;
  width: calc(100vw - #{$docs-sidebar-width});
}

.docs.footer {
  padding: $docs-spacing-unit-small 0;
  width: 100%;
  background-color: $docs-charcoal;
}

.docs.footer__text {
  font-size: $docs-text-size-small;
  color: $docs-text-color-light;
}
