/**!
 * Andromeda Documentation
 * Copyright 2017-2018 Dreamist Labs
 * Created by Johnny Hu <johnny@dreamistlabs.com>
 */
@import 'docs/variables';

/**
 * -- MIXINS
 */
@mixin media-query-at($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}
/**
 * -- STYLES
 */

//-- Global
//-- incl. only styles that differ from Andromeda's Baseline CSS
body {
  background-color: $docs-background-color;
  color: $docs-text-color;
}
p {
  letter-spacing: 0.4px;
}

@import 'docs/containers';
@import 'docs/panels';
@import 'docs/examples';

.app {
  position: relative;

  &.scrolled {
    header h1 {
      margin: 1rem auto;
      font-size: $text--large;
    }
    footer p {
      opacity: 1;
    }
    .overlay--border {
      border: $default-spacingL solid rgba(255,255,255,0.98);
      box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    }
  }
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  h1 {
    display: block;
    margin: 1.8rem auto;
    font-size: $text--xlarge;
    text-align: center;
    line-height: 1;
    transition: all 0.5s ease-in;
  }
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  p {
    margin: 1.2rem;
    font-size: $text--xsmall;
    text-align: center;
    opacity: 0;
    transition: all 0.5s ease-in 0.2s;
  }
}

.main-content {
  margin: 6rem;
}
.overlay--border {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 6rem solid $white;
  box-shadow: inset 0 0 0 rgba(0,0,0,0);
  overflow-y: scroll;
  transition: all 0.5s ease-in;
}

.docs.section {
  margin-bottom: $default-spacingS;
  width: 100%;

  .section__flex__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .section__flex__child {
    width: 33%;
  }
}
.playground {
  margin: 0 auto;
  padding: 1em;
  max-width: 80%;
}

.docs.dashboard__example {
  margin-bottom: 2rem;
}

.docs {
  // &.main-content {
  //   display: flex;
  // }
  &.sidebar {
    min-width: 200px;
    border-right: 1px solid #eee;
  }
}