/**
 * Andromeda Documentation
 * Copyright 2017 Dreamist Labs
 */
@import 'docs/variables';

/**
 * -- MIXINS
 */
@mixin media-query-at($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}
/**
 * -- STYLES
 */

//-- Global
//-- incl. only styles that differ from Andromeda's Baseline CSS
body {
  background-color: $docs-background-color;
  color: $docs-text-color;
}

@import 'docs/containers';
@import 'docs/panels';
@import 'docs/examples';


.docs.section {
  margin-bottom: $docs-spacing-unit;
  width: 100%;

  .section__flex__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .section__flex__child {
    width: 33%;
  }
}
.playground {
  margin: 0 auto;
  padding: 1em;
  max-width: 80%;
}

.docs.dashboard__example {
  margin-bottom: 2rem;
}

.docs {
  &.main-content {
    display: flex;
  }
  &.sidebar {
    min-width: 200px;
    border-right: 1px solid #eee;
  }
}