/**********************************
  GRID SYSTEM (WIP)
 **********************************/
/*
 * Andromeda's Grid System is based off of a 12-column structure.
 * TODO:
 *    * Figure out how to implement offset classes consistently and based on breakpoints
 */

/* thematic/defining variables */

/* referential variables */
$column-padding:    $default-padding;

$col:               grid__col;
$col-sm:            grid__col-sm;
$col-md:            grid__col-md;
$col-lg:            grid__col-lg;
$col-xl:            grid__col-xl;
$col-width:         8.3333333%;

@mixin build-column($s, $i, $w) {
  .#{$s}--#{$i} { flex: 0 0 $w; }
}

/* Grids are expected to live inside a container */
.grid {
  display: flex;
  margin-left: -$default-padding;
  margin-right: -$default-padding;
  @include test-border(gray);
}
[class^="grid__col"] {
  flex: 1;
  padding: 0 $default-padding;
  @include test-border(green);
}
/* Base grid column classes applied to all media sizes */
@for $i from 1 through 12 {
  @include build-column($col, $i, $col-width * $i);
}
@include for-tablet-portrait-up { 
  @for $i from 1 through 12 {
    @include build-column($col-sm, $i, $col-width * $i);
  }
}
@include for-tablet-landscape-up { 
  @for $i from 1 through 12 {
    @include build-column($col-md, $i, $col-width * $i);
  }
}
@include for-desktop-up { 
  @for $i from 1 through 12 {
    @include build-column($col-lg, $i, $col-width * $i);
  }
}
@include for-big-desktop-up { 
  @for $i from 1 through 12 {
    @include build-column($col-xl, $i, $col-width * $i);
  }
}