/**********************************
  GRID SYSTEM (WIP)
 **********************************/
%column {
  padding: 0 $margin-reg;
  overflow: hidden;
  // @include test-border(blue);
}

$col-xs: col-xs;
$col-sm: col-sm;
$col-md: col-md;
$col-lg: col-lg;
$col-padding:     $padding-reg;
$col-width:       8.3333333%;

// array of different column sizes
$col-sizes: $col-xs $col-sm $col-md $col-lg;

// iterate through each size and create column classes, ie. col-md-1.
@each $size in $col-sizes {
  // ie, col-md-1 {width: $col-1}
  @for $i from 1 through 12 {
    $width: $col-width * $i;

    .#{$size}-#{$i} {
      @extend %column;
      width: $width;
    }
  }
}

// iterate through each size and create column offset classes, ie. col-md-offset-2.
@each $size in $col-sizes {
  @for $i from 1 through 11 {
    $width: $col-width * $i;

    .#{$size}-offset-#{$i} { margin-left: $width; }
  }
}