// Andromeda Variables
// Do not change the variable names themselves, only change the values.

// Colors
$primary-color:         $violet-eggplant;
$success-color:         $illuminating-emerald;
$info-color:            $lapis-lazuli;
$warning-color:         $fluorescent-orange;
$danger-color:          $paradise-pink;

$text-dark:             $mine-shaft;
$text-light:            $alabaster;
$text-primary:          $primary-color;
$text-success:          $success-color;
$text-info:             $info-color;
$text-warning:          $warning-color;
$text-danger:           $danger-color;

$border-dark:           $mine-shaft;

$sm-em-horizontal-padding: 0.5em;
$md-em-horizontal-padding: 0.667em;
$lg-em-horizontal-padding: 0.75em;

$sm-em-vertical-padding: 0.25em;
$md-em-vertical-padding: 0.33em;
$lg-em-vertical-padding: 0.5em;